#navBar{
    display: flex;
}
.logo{
    width: 100px;
    height: 100px;
}
#navBar>ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 250px;
}
#navBar>ul>li>a{
    text-decoration: none;
    color: black;
    margin: 20px;
}
#searchCart{
    display: flex;
    align-items: center;
    margin-left: 350px;
}
.searchItem{
    margin-left: 40px;
    border-radius: 50px;
    border: none;
}
.searchButton{
    background-color: green;
    padding: 10px 20px;
    color: white;
}