#nav{
    background-color: gray;
    grid-area: nav;
    margin: 10px;
}
#leftMenu{
    background-color: white;
    grid-area: leftMenu;
    height: 600px;
}
#main{
    background-color: lightgreen;
    grid-area: main;
    height: 600px;
}
#footer{
    background-color: grey;
    grid-area: footer;
    height: 200px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#rightMenu{
    background-color: white
    grid-area: rightMenu;
    height: 600px;
}
#container{
    display: grid;
    grid-template-areas: 
    'nav nav nav nav'
    'leftMenu main main rightMenu'
    'footer footer footer footer';
    text-align: center;
}

.logo{
    width:100px;
    border-radius: 50px;
}
.navList{
    list-style: none;
    display: flex;
}
#nav{
    text-align: start;
    display: flex;
    align-items: center;
}
.navList>li{
    margin-left: 180px;
    color: white;
    background-color: rgb(113, 113, 219);
    padding: 15px;
}
.navList>li:hover{
    background-color: green;

}
#leftMenu>ul{
    list-style: none;
    padding-inline-start: 0px;
}
#leftMenu>ul>li{
    background-color:burlywood;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;
}
#leftMenu>ul>li:hover{
    background-color: lightcoral;
}
#rightMenu>ul{
    list-style: none;
    padding-inline-start: 0px;
}
#rightMenu>ul>li{
    background-color:burlywood;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 40px;
}
#rightMenu>ul>li:hover{
    background-color: lightcoral;
}
#main>img:hover{
    width: 100%;
}

