.std{
    margin: 100px;
    border-radius: 100px;
}
.card{
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
    position: absolute;
    top: 120px;
    left: 400px;
}
.images{
    position: relative;
}
.card2{
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100px;
    position: absolute;
    left:700px;
    /* top:100px; */
    bottom:100px;

}
.ornageBackground{
    background-color: antiquewhite;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: absolute;
    top: 300px;
    left:100px;
    
}